body {
  max-width: 400px;
  margin: 0;
}

.patient-form {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.patient-form label {
  text-align: left;
  display: block;
}

.patient-form h2{
  color: #6096b4;
}

.patient-form input, .patient-form select {
  width: 90%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  display: block;
  box-sizing: border-box;
}

.patient-form button {
  background-color: #6096b4;
  color: #ddd;
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}
