@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  max-width: 400px;
  margin: 0;
  color: #2d2d2d;
  font-family: 'Poppins';
}

header, .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 1em 0.2em;
  background-color: #ffffff;
}

header span {
  color: #2d2d2d;
}

header h1 {
  margin: 0 0 0 0.3em;
  color: #1eae98;
  font-size: 28px;
}

nav a {
  text-decoration: none;
  margin-right: 0.4em;
  color: #2d2d2d;
  font-size: 14px;
}

nav a:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

nav a.active {
  color: #ffffff;
  background-color: #1eae98;
  border-radius: 8px;
  padding: 5px 8px;
}

h2 {
  margin: 0;
}

.patients-container {
  margin-top: 1em;
}

.patients-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0.8em 0.2em;
}

.patients-box:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.delete-patient {
  border: 1px solid #7a7a7a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header,
.patients-box-title,
h3,
.delete-patient {
  background-color: rgb(230, 227, 227);
  color: #1eae98;
  margin: 0;
  padding: 0.2em 0.5em;
}

.patients-box p {
  margin: 0;
  padding: 0.3em;
}

.inline {
  display: flex;
  align-items: center;
  margin: 0 0 0.5em 0;
}

.new-note-btn {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.all-notes-btn {
  color: #1eae98;
  background-color: #eeecec;
  border: 1px solid #ddd;
  margin-left: auto;
}

/*-------------------New patient form --------------------*/
.patient-form {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.patient-form label {
  text-align: left;
  display: block;
  cursor: pointer;
}

.patient-form h2 {
  color: #1eae98;
}

.patient-form input,
.patient-form select {
  width: 90%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  display: block;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #1eae98;
  color: #ffffff;
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

button:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}